# Datasets and Temp Downloads
*.zip
temp_*
scratch/

# Dependencies
node_modules/
frontend/node_modules/

# Virtual Environment
venv/
env/
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# System / IDE
.DS_Store
.vscode/
.idea/


